{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@nestjs/(.*)$",
    "",
    "^[.]"
  ],
  "importOrderParserPlugins": ["typescript"]
}
