name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: book_a_meal_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 5s
          --health-timeout 5s
          --health-retries 10

    env:
      NODE_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/book_a_meal_test
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_NAME: book_a_meal_test
      DB_HOST: localhost
      DB_HOST_PORT: 5432
      SECRET: winniewinniepooh
      OPENING_HOUR: 8
      OPENING_MINUTE: 30
      CLOSING_HOUR: 16
      CLOSING_MINUTE: 00
      EXPIRY: 2000
      BASE_URL: http://localhost:8000
      TZ: UTC

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run linter
        run: yarn lint:ci

      - name: Run tests
        run: yarn test
